---
import BaseLayout from '/src/layouts/BaseLayout.astro';
import { Astro } from 'astro';

import { loadCsv } from '../../utils/loadCsv';
import { loadYaml } from '../../utils/loadYaml';

//const playlists = loadYaml('src/assets/data/allmusic.yml');

export function getStaticPaths() {
  return [
    {params: {playlist: '2020'}},
  ];
}

const { playlist } = Astro.params;
const data = loadCsv(`src/assets/data/csv/${playlist}.csv`);
const musicData = data || [];



/*
export async function getStaticPaths() {
  return playlists.map((playlist) => ({
    params: { playlist: playlist.playlist },
  }));
}

const { playlist: list } = Astro.params;
const playlist = playlists.find((p) => p.playlist === list);
const data = loadCsv(`src/assets/data/csv/${playlist.file}`);
const gitVersion = getGitVersion();

const musicData = Array.isArray(data) ? data : [];
*/

const pageTitle = `Music playlist: ${playlist}`;
---

<BaseLayout pageTitle={pageTitle}>
  <h1>Music List {playlist}</h1>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Artist</th>
        <th>Album</th>
        <th>ISRC</th>
      </tr>
    </thead>
    <tbody>
      {musicData.length > 0 ? (
        musicData.map((item) => (
          <tr>
            <td>{item.title}</td>
            <td>{item.artist}</td>
            <td>{item.album}</td>
            <td>{item.isrc}</td>
          </tr>
        ))
      ) : (
        <tr>
          <td colspan="4">No data available</td>
        </tr>
      )}
    </tbody>
  </table>
</BaseLayout>