---
// used for the timeline content

const { post } = Astro.props;
import slugify from 'slugify';

// Normalize tags to always be an array
const tags = Array.isArray(post.frontmatter.tags) ? post.frontmatter.tags : [post.frontmatter.tags].filter(Boolean);
---
<time>{post.frontmatter.date}</time>

<div class="card bg-base-100 w-96 shadow-xl">
  <figure>
    <img
      src={post.frontmatter.hero}
      alt="Blog post cover"
      class="max-w-96 h-48"
    />
  </figure>
  <div class="card-body">
    <h2 class="card-title">
      <a href={`/posts/${slugify(post.frontmatter.title, { lower: true })}`}>
        <h1>{post.frontmatter.title}</h1>
      </a>
    </h2>
    <p>{post.frontmatter.description}</p>
    <div class="card-actions justify-end">
      {tags.map(tag => (
        <a href={`/tags/${slugify(tag, { lower: true })}`} class="badge badge-primary">
          {tag}
        </a>
      ))}
    </div>
  </div>
</div>
